body {
    font-family: 'Poppins', sans-serif;
}

h2, h3, h4, h5, p, .v-list-item {
    color: #1d59ff;
}

.v-list-item {
    border-radius: 30px;
}

.v-list-item:hover {
    background-color: #1d59ff;
    color: #e8faff;
    transition: all 0.3s ease-in-out;
}

.v-app-bar .v-icon {
    color: #1d59ff;
}

.v-list-item .v-icon:hover {
    color: #f4fafc;
}

.v-list-item-title {
    font-size: 16px !important;
    font-weight: normal !important;
}

.v-messages {
    min-height: 16px !important;
    font-size: 10px !important;
}

.v-btn--size-default, .v-icon {
    min-width: 0 !important;
}

.v-icon--size-default {
    font-size: calc(var(--v-icon-size-multiplier) * 1.5em) !important;
}

.v-btn--size-default {
  --v-btn-height: 25px !important;
}

.v-data-table {
    max-width: 100%;
}

table th {
    height: 0 !important;
}

thead .v-data-table__th .v-data-table-header__content {
    color: #a2a0a0;
}

.to-show-head {
    display: none;
}

.to-show {
    display: none;
}

@media (max-width: 450px) {
    .to-hide-head {
        display: none;
    }

    .to-show-head {
        display: flex;
    }
}

@media (max-width: 530px) {
    .to-hide {
        display: none;
    }

    .to-show {
        display: flex;
    }
}

.skeleton-loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection-container {
  /* position: fixed; */
  top: 0;
  width: 100%;
  /* z-index: 9999; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.connection-banner {
  width: 100%;
  text-align: center;
  padding: 2px;
  font-size: 10px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.connection-banner.offline {
  background: #8a1515;
  color: #fffafa;
}
.connection-banner.slow {
  background: #b88d20;
  color: #fffafa;
}
.connection-banner.waiting {
  background: #1126a0;
  color: #fffafa;
}
